
<div class="background">
  
    <div class="container">
      <h1>Contactanos</h1>
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>FORMA PARTE DE LA COMUNIDAD DE <div class="title-black">CEIPAC</div></span>
            </div>
            <div class="app-contact">TELÉFONO : +52 449 140 0018</div>
          </div>
          <div class="screen-body-item">
            <div class="app-form">
              <div class="app-form-group">
                <input class="app-form-control" placeholder="NOMBRE" value=>
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="CORREO">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="TELÉFONO">
              </div>
              <div class="app-form-group message">
                <input class="app-form-control" placeholder="MENSAJE">
              </div>
              <div class="app-form-group buttons">
                <!-- <button class="app-form-button">CANCEL</button> -->
                <button class="app-form-button">ENVIAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  