<!-- COMPONENTE TITULO -->
<app-titulo1 [titulo] = "'Bienvenido a CEIPAC'"></app-titulo1>

<!-- COMPONENTE CARD QUIENES SOMOS 1 -->
<div class="blog-card ">
    <div class="meta">
      <div class="photo" style="background-image: url(../../../assets/images/quienes_somos.JPG)"></div>
      <ul class="details">
        <li class="author">Fotografía por parte de CEIPAC</li>
        <li class="date">Julio del 2019</li>
        <li class="tags">
          <ul>
            <li><a href="#">Conoce</a></li>
            <li><a href="#">Juega</a></li>
            <li><a href="#">Aprende</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>¿Quiénes somos?</h1>
      <h2>...</h2>
      <p> El Centro Educativo Integral Para Altas Capacidades (CEIPAC) es una escuela pública estatal de innovación educativa en Aguascalientes que desde hace cinco años ofrece atención a niños de altas capacidades intelectuales, un modelo que detona su potencial.

        Es la escuela del s. XXI, un espacio integrador para la implementación y divulgación del conocimiento sin límites con una línea metodológica de creación propia, que promueve la participación directa de toda la comunidad educativa: estudiantes, familias, docentes, instituciones, autoridades y sociedad.
        
        Un motor de transformación social que cambia el concepto de escuela por fuera y, sobre todo, por dentro.</p>
      <p class="read-more">
        <!-- <a href="#">Read More</a> -->
      </p>
    </div>
  </div>

  <!-- COMPONENTE CARD QUIENES SOMOS 2 -->
  <!-- <div class="blog-card alt component-background"> -->
    <div class="blog-card alt c">
    <div class="meta">
      <div class="photo" style="background-image: url(../../../assets/images/que_hace_unico.webp)"></div>
      <ul class="details">
        <li class="author">Fotografía por parte de CEIPAC</li>
        <li class="date">Julio del 2019</li>
        <li class="tags">
          <ul>
            <li><a href="#">Conoce</a></li>
            <li><a href="#">Juega</a></li>
            <li><a href="#">Aprende</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>¿Qué hace único a CEIPAC?</h1>
      <h2>...</h2>
      <p>Es una escuela con atmósferas de aprendizaje completamente diferentes, donde los niños tienen acceso a herramientas tecnológicas, artísticas y de distintos ámbitos permitiéndoles descubrir el mundo del conocimiento sin límites. Un centro sin precedentes que transforma la manera de enseñar, de aprender y de compartir conocimientos a través de la investigación y la creatividad. Un modelo educativo innovador que genera espacios comunitarios y de aprendizaje abierto, sin barreras, que deja atrás el modelo tradicional de escuela acartonada y se centra en la flexibilidad, la libertad y el trabajo colaborativo, generando planes de aprendizaje personalizado que reconocen e impulsan las habilidades y talentos de cada uno. Un modelo replicable y accesible cuya premisa, es que los niños y niñas disfruten de aprender desarrollándose felices y estables, con una base fundamentada en la tolerancia y el respeto.</p>
      <p class="read-more">
        <!-- <a href="#">Read More</a> -->
      </p>
    </div>
  </div>
  <!-- MOSTRANDO EL COMPONENTE TALLERES -->
  <app-test3></app-test3>
  <!-- POTENCIAL -->
  <div class="blog-card ">
    <div class="meta">
      <div class="photo" style="background-image: url(../../../assets/images/potencial.webp)"></div>
      <ul class="details">
        <li class="author">Fotografía por parte de CEIPAC</li>
        <li class="date">Julio del 2019</li>
        <li class="tags">
          <ul>
            <li><a href="#">Conoce</a></li>
            <li><a href="#">Juega</a></li>
            <li><a href="#">Aprende</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>"EL POTENCIAL SI NO ES DETONADO, NO SIRVE DE NADA"</h1>
      <h2>...</h2>
      <p>Pepe Moyano</p>
      <p class="read-more">
        <!-- <a href="#">Read More</a> -->
      </p>
    </div>
  </div>