<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer-distributed">

			<div class="footer-left">

				<h3><span> CEIPAC</span></h3>

				<p class="footer-links">
					<a href="#" class="link-1">Inicio</a>
					
					<a href="#">Familia CEIPAC</a>
					
					<a href="#">Red CEIPAC</a>
					
					<a href="#">Contactanos</a>
				</p>

				<p class="footer-company-name">C/ Cerro de La Joya SN Fracc J, <span>Gómez Portugal, 20256</span><span> Aguascalientes, Ags</span> </p>
			</div>

			<div class="footer-center">

			
				<div>
					<i class="fa fa-phone" style="color: #ffffff; background-color:  #a413b1;"></i>
					<p>449 140 0018</p>
				</div>

				<div>
					<i class="fa fa-phone" style="color: #ffffff; background-color:  #13a6b1;"></i>
					<p>449 624 7439</p>
				</div>
        
        <div>
					<i class="fa fa-envelope" style="color: #ffffff; background-color:  #b12313;"></i>
					<p style="color:aqua;">ceipac@ceipac.edu.mx</p>
				</div>

        <div>
					<i class="fa fa-whatsapp" style="color: #ffffff; background-color:  #13b118;"></i>
					<p>+52 449 624 7439</p>
				</div>

			</div>

			<div class="footer-right">

        <p class="footer-company-about1">
          <span>Redes sociales</span>
        </p>

        <div class="footer-icons">

					<a href="#"><i class="fab fa-facebook" style="color: blue"></i></a>
					<a href="#"><i class="fab fa-twitter" style="color: rgb(0, 187, 255)"></i></a>
					<a href="#"><i class="fab fa-youtube" style="color: red;"></i></a>
					<a href="#"><i class="fab fa-instagram" style="color: rgb(97, 32, 158);"></i></a>

				</div>
        
				<p class="footer-company-about">
					<span>Sobre la compañía</span>
					©2020 por Centro Educativo Integral Para Altas Capacidades.
				</p>

			

			</div>

		</footer>