<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header1">
            <img class="logo" src="../../../assets/images/ceipac.webp" alt="logo">
            
            <div class="text-logo-container">
                <div class="text-logo-top"><a>Centro Educativo Integral</a></div>
                <div class="text-logo-down">Para Altas Capacidades</div>
            </div>
            <nav>
                <ul class="nav__links">
                    <li><a [routerLink] = "['/inicio']" [routerLinkActive] = "['active']">Inicio</a>
        
                    </li>
                    <li><a [routerLink] = "['/familia']" [routerLinkActive] = "['active']">Familia CEIPAC</a>
        
                    </li>
                    <li><a href="#">Programa educativo</a>
        
                    </li>
                    <li><a [routerLink] = "['/filosofia']" [routerLinkActive] = "['active']">Filosofía CEIPAC</a>
        
                    </li>
                    <li><a href="#">Red CEIPAC</a>
        
                    </li>
                    <li><a>Más</a>
                        <div class="sub_menu">
                            <ul>
                                <li><a>Admisiones</a></li>
                                <li><a>Servicios educativos</a></li>
                                <li><a>Contacto</a></li>
                                <li><a>Forum</a></li>
                                <li><a [routerLink] = "['/familia']" [routerLinkActive] = "['active']">Miembros</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            
            <!-- <a class="cta" href="#"><button>Contactanos</button></a> -->
            <div class="social-network-container">
                <i class="fab fa-facebook " style="color: blue;"></i>
                <i class="fab fa-instagram" style="color: rgb(97, 32, 158);"></i>
                <i class="fab fa-youtube" style="color: red;"></i>
                <i class="fab fa-twitter" style="color: rgb(0, 187, 255)"></i>
                <i class="fas fa-map-marker-alt" style="color: gray"></i>
            </div>
            
            
        </div>
        <div class="header3">
            <img class="logo" src="../../../assets/images/ceipac.webp" alt="logo">
           <!--  <div class="box"> -->
                <!--  <div class="container-1">
                        <input type="search" id="search" placeholder="Search..." />
                    </div> -->
           <!--  </div> -->
           <div class="text-logo-container">
            <div class="text-logo-top"><a>Centro Educativo Integral</a></div>
            <div class="text-logo-down">Para Altas Capacidades</div>
           </div>
            <nav>
                <ul class="nav__links">
                    <li><a href="#">Menú principal</a>
                        <div class="sub_menu">
                            <ul>
                                <li><a [routerLink] = "['/inicio']">Inicio</a></li>
                                <li><a [routerLink] = "['/familia']">Familia CEIPAC</a></li>
                                <li><a >Programa educativo</a></li>
                                <li><a>Contacto</a></li>
                                <li><a [routerLink] = "['/filosofia']">Filosofía CEIPAC</a></li>
                                <li><a>Red CEIPAC</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class=""><a >Más</a>
                        <div class="sub_menu">
                            <ul>
                                <li><a>Admisiones</a></li>
                                <li><a>Servicios educativos</a></li>
                                <li><a>Contacto</a></li>
                                <li><a>Forum</a></li>
                                <li><a  [routerLink] = "['/familia']">Miembros</a></li>
                            </ul>
                        </div>
                    </li>
        
                </ul>
            </nav>
            <div class="social-network-container">
                <i class="fab fa-facebook " style="color: blue;"></i>
                <i class="fab fa-instagram" style="color: rgb(97, 32, 158);"></i>
                <i class="fab fa-youtube" style="color: red;"></i>
                <i class="fab fa-twitter" style="color: rgb(0, 187, 255)"></i>
                <i class="fas fa-map-marker-alt" style="color: gray"></i>
            </div>
            <!-- <a class="cta" href="#"><button>Contactanos</button></a> -->
        </div>
        <div class="header2">
            <img class="logo" src="../../../assets/images/ceipac.webp" alt="logo">
           <!--  <div class="box"> -->
                <!--  <div class="container-1">
                        <input type="search" id="search" placeholder="Search..." />
                    </div> -->
           <!--  </div> -->
            <nav>
                <ul class="nav__links">
                    <li><a >Menú principal</a>
                        <div class="sub_menu">
                            <ul>
                                <li><a [routerLink] = "['/inicio']">Inicio</a></li>
                                <li><a [routerLink] = "['/familia']">Familia CEIPAC</a></li>
                                <li><a >Programa educativo</a></li>
                                <li><a>Contacto</a></li>
                                <li><a [routerLink] = "['/filosofia']">Filosofía CEIPAC</a></li>
                                <li><a>Red CEIPAC</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class=""><a >Más</a>
                        <div class="sub_menu">
                            <ul>
                                <li><a>Admisiones</a></li>
                                <li><a>Servicios educativos</a></li>
                                <li><a>Contacto</a></li>
                                <li><a>Forum</a></li>
                                <li><a  [routerLink] = "['/familia']">Miembros</a></li>
                            </ul>
                        </div>
                    </li>
        
                </ul>
            </nav>
            <div class="social-network-container">
                <i class="fab fa-facebook " style="color: blue;"></i>
                <i class="fab fa-instagram" style="color: rgb(97, 32, 158);"></i>
                <i class="fab fa-youtube" style="color: red;"></i>
                <i class="fab fa-twitter" style="color: rgb(0, 187, 255)"></i>
                <i class="fas fa-map-marker-alt" style="color: gray"></i>
            </div>
            <!-- <a class="cta" href="#"><button>Contactanos</button></a> -->
        </div>
        <div class="header4">
            <img class="logo" src="../../../assets/images/ceipac.webp" alt="logo">
           <!--  <div class="box"> -->
                <!--  <div class="container-1">
                        <input type="search" id="search" placeholder="Search..." />
                    </div> -->
           <!--  </div> -->
           <div class="text-logo-container">
            <div class="text-logo-top"><a>CEIPAC</a></div>
           </div>
            <nav>
                <ul class="nav__links">
                    <li><a >Menú principal</a>
                        <div class="sub_menu">
                            <ul>
                                <li><a [routerLink] = "['/inicio']">Inicio</a></li>
                                <li><a [routerLink] = "['/familia']">Familia CEIPAC</a></li>
                                <li><a >Programa educativo</a></li>
                                <li><a>Contacto</a></li>
                                <li><a [routerLink] = "['/filosofia']">Filosofía CEIPAC</a></li>
                                <li><a>Red CEIPAC</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class=""><a >Más</a>
                        <div class="sub_menu">
                            <ul>
                                <li><a>Admisiones</a></li>
                                <li><a>Servicios educativos</a></li>
                                <li><a>Contacto</a></li>
                                <li><a>Forum</a></li>
                                <li><a [routerLink] = "['/familia']">Miembros</a></li>
                            </ul>
                        </div>
                    </li>
        
                </ul>
            </nav>
            <div class="social-network-container">
                <i class="fab fa-facebook " style="color: blue;"></i>
                <i class="fab fa-instagram" style="color: rgb(97, 32, 158);"></i>
                <i class="fab fa-youtube" style="color: red;"></i>
                <i class="fab fa-twitter" style="color: rgb(0, 187, 255)"></i>
                <i class="fas fa-map-marker-alt" style="color: gray"></i>
            </div>
            <!-- <a class="cta" href="#"><button>Contactanos</button></a> -->
        </div>
    </header>

   </body>
</html>