<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap"
	rel="stylesheet">

<div class="component-background">
	<h1 style="font-size: 28px;">Principios del centro</h1>
	<div class="container">

		<div class="card">
			<figure class="card__thumb">
				<img src="https://static.wixstatic.com/media/87f822_d35e5004b28740698eff7625ed060e97~mv2.jpg/v1/fill/w_307,h_710,al_c,q_80,usm_0.66_1.00_0.01/87f822_d35e5004b28740698eff7625ed060e97~mv2.webp"
					alt="Picture by Kyle Cottrell" class="card__image">
				<figcaption class="card__caption">
					<h2 class="card__title">Misión</h2>
					<p class="card__snippet">Ser una comunidad educativa que fortalezca las habilidades y talentos de
						los estudiantes con altas capacidades mediante una educación de innovación disruptiva aportando
						a la sociedad seres humanos capacitados para la vida y con responsabilidad social.</p>
					<!-- <a href="" class="card__button">Read more</a> -->
				</figcaption>
			</figure>
		</div>

		<div class="card">
			<figure class="card__thumb">
				<img src="https://static.wixstatic.com/media/87f822_6ec030ac30044f3cade45fbe5966ab9f~mv2.jpg/v1/fill/w_316,h_710,al_c,q_80,usm_0.66_1.00_0.01/87f822_6ec030ac30044f3cade45fbe5966ab9f~mv2.webp"
					alt="Picture by Nathan Dumlao" class="card__image">
				<figcaption class="card__caption">
					<h2 class="card__title">Visión</h2>
					<p class="card__snippet">En el año 2024, CEIPAC será la institución educativa más reconocida de
						México por el liderazgo de su modelo en atención a estudiantes de altas capacidades de Educación
						Preescolar a Preparatoria; y por la investigación educativa en este campo.Una comunidad
						consolidada que impulsará el conocimiento, el desarrollo sostenible y la acción social.</p>
					<!-- <a href="" class="card__button">Read more</a> -->
				</figcaption>
			</figure>
		</div>
		<div class="card">
			<figure class="card__thumb">
				<img src="https://static.wixstatic.com/media/87f822_86ca77f862024352b1ccccc54b784f1a~mv2.jpg/v1/fill/w_307,h_710,al_c,q_80,usm_0.66_1.00_0.01/87f822_86ca77f862024352b1ccccc54b784f1a~mv2.webp"
					alt="Picture by Nathan Dumlao" class="card__image">
				<figcaption class="card__caption">
					<h2 class="card__title">Valores</h2>
					<p class="card__snippet">CEIPAC es el espacio donde los niños forjan la armadura que les permitirá
						librar la batalla de su vida y tener éxito.

						Sus herramientas serán el autoconocimiento, la asertividad, la bondad, el compromiso social, el
						autoestima, la autoexigencia, la constancia y una sensibilidad equilibrada con su fortaleza.</p>
					<!-- <a href="" class="card__button"></a> -->
				</figcaption>
			</figure>
		</div>


	</div>
</div>