<app-titulo1 [titulo] = "'Talleres y Actividades'"></app-titulo1>
<div class="component-background">
    <div class="wrapper">
        <div class="cols">
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://static.wixstatic.com/media/891bef_c6227b7cbf7b4e27a2aeb2d58e05b0cf~mv2.jpeg/v1/fill/w_1061,h_796,al_c,q_85,usm_0.66_1.00_0.01/891bef_c6227b7cbf7b4e27a2aeb2d58e05b0cf~mv2.webp)">
                              <div class="inner">
                                  <p>Diligord</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner"  >
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="url(https://unsplash.it/511/511/)">
                              <div class="inner">
                                  <p>Rocogged</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                              <div class="inner">
                                  <p>Strizzes</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                              <div class="inner">
                                  <p>Clossyo</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/504/504/">
                              <div class="inner">
                                  <p>Rendann</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
                              <div class="inner">
                                  <p>Reflupper</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
                              <div class="inner">
                                  <p>Acirassi</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
                              <div class="inner">
                                  <p>Sohanidd</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
       </div>
</div>