<app-titulo1 [titulo] = "'Familia CEIPAC'"></app-titulo1>
<app-cards 
    [titulo] = "'Cultura'"
    [cuerpo] = "'El teatro, la literatura,  la historia, los debates, las tradiciones, la gastronomía... son elementos que compartimos como vías de transmisión de nuestra querida cultura mexicana.'"
    [imageURL] = "'background-image: url(../../../assets/images/fam1.JPG)'"
    [cardStyle] = "'alt-yellow'"
  ></app-cards>
<app-cards 
    [titulo] = "'Formación'"
    [cuerpo] = "'Escuela para familias, talleres, congresos, dinámicas, sesiones de encuentro, team building... son algunas de las acciones que implementamos para fortalecer a las familias en su compleja tarea de ser una plataforma de impulso para nuestros pequeños.'"
    [imageURL] = "'background-image: url(../../../assets/images/fam2.JPG)'"
  ></app-cards>
<app-cards 
    [titulo] = "'Juegos'"
    [cuerpo] = "'Guerras de globos de agua, búsquedas del tesoro, cacerías de galletas, resbaladillas gigantes... hay que crear bonitos recuerdos en nuestros niños y niñas, dejando que los viven en nostros, de vez en cuando, sigan saliendo a jugar.'"
    [imageURL] = "'background-image: url(../../../assets/images/fam3.JPG)'"
    [cardStyle] = "'alt-red'"
  ></app-cards>
<app-cards 
    [titulo] = "'Arte en familia    '"
    [cuerpo] = "'Bordados, pinturas, reciclaje, escultura, pintura en cerámica, cartonería, trabajo de unicel... las artesanías son ejemplo de la historia, y hacerlas en familia'"
    [imageURL] = "'background-image: url(../../../assets/images/fam4.JPG)'"
  ></app-cards>
<app-cards 
    [titulo] = "'Convivencia'"
    [cuerpo] = "'Días de convivencia familiar, cenas de disfraces, festejos de cumpleaños... porque la vida hay que celebrarla y, cuando es con los que la hacen más bonita, es mucho mejor.'"
    [imageURL] = "'background-image: url(../../../assets/images/fam5.JPG)'"
    [cardStyle] = "'alt-yellow'"
  ></app-cards>
<app-cards 
    [titulo] = "'Deporte'"
    [cuerpo] = "'Escalada, box, fútbol, basquet, danza aérea, subidas al cerro... la actividad física es fundamental para el equilibrio buscado desde tiempos inmemoriables con el famoso: Mens sana in corpore sano'"
    [imageURL] = "'background-image: url(../../../assets/images/fam6.JPG)'"
  ></app-cards>