<app-titulo1 [titulo] = "'Proceso de Admisión'" ></app-titulo1>

<div class="container">
    <ul class="cards">
      
      <li class="card cards__item">
        <div class="card__frame">
          <div class="card__picture">
            <img src="https://image.flaticon.com/icons/svg/1336/1336494.svg" alt="" width="120">
          </div>
          <h2 class="card__title">Paso #1</h2>
        </div>
        <div class="card__overlay"></div>
        <div class="card__content">
          <h2>Diagnóstico clínico de Altas Capacidades</h2>
          <p>Se contará con un informe clínico o diagnóstico que cuente con pruebas estandarizadas y de validez internacional que nos permite obtener la certeza de que cumple con el perfil de altas capacidades.</p>
        </div>
      </li>
      <li class="card cards__item">
        <div class="card__frame">
          <div class="card__picture">
            <img src="https://image.flaticon.com/icons/svg/478/478543.svg" alt="" width="120">
          </div>
          <h2 class="card__title">Paso #2</h2>
        </div>
        <div class="card__overlay"></div>
        <div class="card__content">
          <h2>Proceso interno</h2>
          <p>
            Proceso de admisión
            1. Diagnóstico clínico 
            de Altas Capacidades
            Se contará con un informe clínico o diagnóstico que cuente con pruebas estandarizadas y de validez internacional que nos permite obtener la certeza de que cumple con el perfil de altas capacidades.
            
            Una vez se confirme el diagnóstico, se llevará a cabo un proceso de evaluación curricular, de entrevistas individuales y grupales, de pruebas in-basket y otros.    De esta forma, </p>
        </div>
      </li>
    </ul>
  </div>