<!-- 

GRADIENT BANNER DESIGN BY SIMON LURWER ON DRIBBBLE:
https://dribbble.com/shots/14101951-Banners

-->
<div class="main-container">
  <app-titulo1 [titulo] = "'Proceso de Admisión'"></app-titulo1>
  <div class="cards">
    <div class="card card-1"><!-- 
      <div class="card__icon"><i class="fas fa-bus-alt"></i></div> -->
      <h2 class="card__title1">1. Diagnóstico clínico de Altas Capacidades</h2>
      
      <h2 class="card__title">Se contará con un informe clínico o diagnóstico que cuente con pruebas estandarizadas y de validez internacional que nos permite obtener la certeza de que cumple con el perfil de altas capacidades.</h2>
      
      

    </div>
    <div class="card card-5"><!-- 
      <div class="card__icon"><i class="fas fa-bus-alt"></i></div> -->
      <h2 class="card__title1">2. Proceso interno</h2>
      
      <h2 class="card__title">Una vez se confirme el diagnóstico, se llevará a cabo un proceso de evaluación curricular, de entrevistas individuales y grupales, de pruebas in-basket y otros.</h2>
      
      

    </div>
    
    
    
  </div>
</div>  