
<!-- COMPONENTE CARD QUIENES SOMOS 1 -->
<div class="blog-card {{cardStyle}}">
    <div class="meta">
      <div class="photo" style="{{imageURL}}"></div>
      <ul class="details">
        <li class="author">Fotografía por parte de CEIPAC</li>
        <li class="date">Julio del 2019</li>
        <li class="tags">
          <ul>
            <li><a href="#">Conoce</a></li>
            <li><a href="#">Juega</a></li>
            <li><a href="#">Aprende</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>{{titulo}}</h1>
      <h2>...</h2>
      <p> {{cuerpo}}</p>
      <p class="read-more">
        <!-- <a href="#">Read More</a> -->
      </p>
    </div>
  </div>